#homepage {
    max-width: 760px;
    margin: 35px auto;
    opacity: 0.9;
}

#homepage .apexcharts-tooltip {
    color: #fff;
    transform: translateX(10px) translateY(10px);
    overflow: visible !important;
    white-space: normal !important;
}

#chhomepageart .apexcharts-tooltip span {
    padding: 5px 10px;
    display: inline-block;
}